@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

@tailwind utilities;

@layer base {
  :root {
    --color-custom-blue: #7199CC;
    --color-custom-gray: #464646;
    --color-custom-lightgray: #F3F3F3;
    --color-custom-brown: #C29D74;
  }

  body {
    background: var(--color-custom-lightgray);
    color: var(--color-custom-gray);
    font-family: 'Cormorant Garamond', serif;
  }
}

@layer utilities {
  .bg-custom-blue {
    background-color: var(--color-custom-blue);
  }
  .bg-custom-gray {
    background-color: var(--color-custom-gray);
  }
  .bg-custom-lightgray {
    background-color: var(--color-custom-lightgray);
  }
  .bg-custom-brown {
    background-color: var(--color-custom-brown);
  }

  .text-custom-blue {
    color: var(--color-custom-blue);
  }
  .text-custom-gray {
    color: var(--color-custom-gray);
  }
  .text-custom-lightgray {
    color: var(--color-custom-lightgray);
  }
  .text-custom-brown {
    color: var(--color-custom-brown);
  }
}
